
.icon-heart:before { content: '\e802'; } /* '' */
.icon-feather:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-rocket:before { content: '\e808'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */